---
Checks:          '-*,clang-diagnostic-*,clang-analyzer-*,bugprone-*,misc-*,modernize-*,-modernize-use-trailing-return-type,performance-*,readability-*,-readability-convert-member-functions-to-static,-readability-identifier-length'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...

